body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  background-color: #6441A4;
  width: 100px;
  height: 40px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover, button:active {
  background: white;
  border: 2px solid #6441A4;
  color: #6441A4;
}

/* Header/Nav Area */
.header {
  background-color: #6441A4;
  height: 75px;
  text-align: center;
}

.header > img {
  height: 50px;
  padding-top: 12.5px;
}

.footer {
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #6441A4;
  text-decoration: none;
}

.footer a:hover {
  color: #3eaafe;
}

/* Filters Area */
.owl-logo {
  text-align: center;
  padding: 10px;
}

.owl-logo > img {
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
}
  /* Team Filter */
.team-filter-grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.team-logo > img {
  height: 50px;
  cursor: pointer;
}

.active {
  -webkit-filter: drop-shadow(5px 5px 5px #6441A4 );
  filter: drop-shadow(5px 5px 5px #6441A4);
}

.team-dropdown {
  display: none;
}

  /* Status Filter */
.status-filter {
  text-align: center;
  padding: 10px;
}

input[type=radio] + label {
	border-radius: 5px;
	border: 2px solid #d3d3d3;
	margin: 3px;
	margin-bottom: 0;
	padding: 4px 8px;
	line-height: 20px;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	cursor: pointer;
}

.radio {
	display: inline;
}

input[type=radio] {
	display: none;
}

input[type=radio]:checked + label {
	box-shadow: 0 0 0 1pt #6441A4;
}

/* Streams Area */
.streamers-grid {
  margin: 0;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}

.streamer-card {
  background: white;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  margin: 0 auto;
  position: relative;
}

.streamer-card:hover {
  box-shadow: 5px 5px 3px rgba(100, 65, 164, 0.70);
  transform: translate(-5px, -5px);
  transition: 300ms;
}

.card-grid {
  display: grid;
  grid-template-columns: 282px 1fr;
}

.stream-img > img {
  height: 200px;
}

.card-header {
  text-align: center;
}

.demo-grid {
  display: grid;
  grid-template-rows: 80px 70px 50px;
}

.demographics {
  text-align: center;
  position: relative;
}

.demographics > div:nth-child(2) {
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* Loading Animations */
.loader {
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #6441A4;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/* Mobile Layout */
@media only screen and (max-width: 750px) {
  .header {
    height: 50px;
  }

  .header > img {
    height: 25px;
    padding-top: 12.5px;
  }

  .team-dropdown {
    text-align: center;
    padding-bottom: 20px;
    display: block;
  }

  .team-dropdown > select {
    background-color: #6441A4;
    color: white;
    font-size: 16px;
  }

  .team-filter-grid {
    display: none;
  }

  .loader {
    left: 50%;
    top: 70%;
  }

  .streamer-card {
    width: 350px;
    height: 175px;
  }

  .stream-img > img {
    height: 175px;
  }

  .demo-grid {
    display: grid;
    grid-template-rows: 60px 70px 45px;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 248px 1fr;
  }
}
