body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: #6441A4;
  height: 75px;
  text-align: center;
}

.header > img {
  height: 50px;
  padding-top: 12.5px;
}

.team-filter-grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.team-logo > img {
  height: 50px;
}

.owl-logo {
  text-align: center;
  padding: 10px;
}

.owl-logo > img {
  height: 100px;
  border-radius: 5px;
}

.team-dropdown {
  display: none;
}

.status-filter {
  text-align: center;
  padding: 10px;
}

.streamers-grid {
  margin: 0;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}

.streamer-card {
  background: white;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  margin: 0 auto;
  position: relative;
}

.streamer-card:hover {
  box-shadow: 5px 5px 3px rgba(100, 65, 164, 0.70);
  top: -5px;
  left: -5px;
}

.card-header {
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

button {
  background-color: #6441A4;
  width: 100px;
  height: 40px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.demo-grid {
  display: grid;
  grid-template-rows: 80px 70px 50px;
}

@media only screen and (max-width: 750px) {
  .header {
    height: 50px;
  }

  .header > img {
    height: 25px;
    padding-top: 12.5px;
  }

  .team-dropdown {
    text-align: center;
    padding-bottom: 20px;
    display: block;
  }

  .team-dropdown > select {
    background-color: #6441A4;
    color: white;
    font-size: 16px;
  }

  .team-filter-grid {
    display: none;
  }
}
